@font-face {
  font-family: 'Amarillo';
  src: url("../fonts/Amarillo.eot");
  src: url("../fonts/Amarillo.woff2") format("woff2"), url("../fonts/Amarillo.woff") format("woff"), url("../fonts/Amarillo.ttf") format("truetype"), url("../fonts/Amarillo.svg#Amarillo") format("svg"), url("../fonts/Amarillo.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: white;
  color: white; }

::selection {
  background: white;
  color: white; }

::moz-election {
  background: white;
  color: white; }

::-webkit-scrollbar {
  background: white;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: white;
  width: 8px;
  border-radius: 20px; }

a {
  color: white !important; }

i:hover {
  color: tomato; }

span.text-black {
  font-weight: 900 !important;
  font-size: 1em; }

span, p.text-mlight {
  font-size: 1.4em;
  font-weight: 300;
  color: white; }

.fa-caret-right {
  color: white !important;
  font-weight: bolder;
  font-size: 1.6em; }

.fa-caret-left {
  color: white !important;
  font-weight: bolder;
  font-size: 1.6em; }
