@font-face {
  font-family: 'Amarillo';
  src: url("../fonts/Amarillo.eot");
  src: url("../fonts/Amarillo.woff2") format("woff2"), url("../fonts/Amarillo.woff") format("woff"), url("../fonts/Amarillo.ttf") format("truetype"), url("../fonts/Amarillo.svg#Amarillo") format("svg"), url("../fonts/Amarillo.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

span.text-black {
  font-weight: 900 !important;
  font-size: 2em; }

.text-mlight {
  font-size: 1.8em;
  font-weight: 300;
  color: white; }

.text-light {
  font-weight: 300 !important; }

::-webkit-scrollbar {
  background: white;
  width: 2px; }

::-webkit-scrollbar-thumb {
  background: white;
  width: 8px;
  border-radius: 20px; }

a {
  color: white !important; }

i:hover {
  color: tomato; }

.fa-caret-right {
  color: white !important;
  font-weight: bolder;
  font-size: 1.6em; }

.fa-caret-left {
  color: white !important;
  font-weight: bolder;
  font-size: 1.6em; }

body {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; }

.carousel {
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 900;
  color: white;
  font-style: normal;
  width: 100%; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.form-control {
  border-radius: 0 !important; }

.form-group {
  width: 100% !important;
  margin: 0 auto !important; }

#inputChoco {
  text-transform: capitalize; }

.btn-gris {
  background: #4f5559;
  color: white;
  text-transform: lowercase;
  width: 100% !important;
  font-weight: 500; }

.btn-gris:hover {
  opacitiy: .8;
  cursor: pointer; }

.share-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .share-container > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30% !important; }

/* Tooltip */
.tooltip > .tooltip-inner {
  background: transparent;
  border: 1px solid white; }

#myTooltip {
  width: 30px;
  height: auto;
  background: white;
  color: red;
  border-radius: 50%;
  padding: 0;
  z-index: 1; }

#pintadoTexto, .pintadotexto {
  background: transparent !important;
  color: white;
  font-size: 10px; }

imgGenContainer {
  display: block; }

span.rrss-container {
  width: 100% !important;
  margin: 0 auto !important;
  display: block !important; }

span.rrss-text {
  display: inline !important; }
