@font-face {
  font-family: 'Amarillo';
  src: url('Amarillo.eot');
  src: url('Amarillo.woff2') format('woff2'),
       url('Amarillo.woff') format('woff'),
       url('Amarillo.ttf') format('truetype'),
       url('Amarillo.svg#Amarillo') format('svg'),
       url('Amarillo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

